.header-container {
  width: 1140px;
  height: 59px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding-top: 40px;
  margin-bottom: 146px;
}
.main-container {
  background-color: #461096;
}

.for-logo {
  display: flex;
  margin-right: 282px;
  align-items: center;
}
.free {
  width: 160px;
  height: 59px;
  margin-left: 60px;
  background-color: #42b4ee;
  font-size: 18px;
  font-weight: 500;
  font-family: "Inter 18pt";
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.free a {
  color: white;
}
.li-zone {
  display: flex;
  width: 486px;
  justify-content: space-between;
  align-items: center;
}
.for-logo img {
  width: 44.83px;
  height: 50.83px;
}
.for-logo h4 {
  font-size: 30px;
  line-height: 150%;
  letter-spacing: 1%;
  font-family: "Inter 18pt";
  color: #42b4ee;
}
.different {
  color: #44b4ee;
}
ul a {
  font-family: "Inter 18pt";
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0%;
  color: #ffffff;
}
.title-bar {
  width: 1140px;
  margin: 0 auto;
}
h1 {
  width: 498px;
  height: 222px;
  font-weight: 600;
  font-size: 62px;
  line-height: 120%;
  letter-spacing: 0%;
  color: white;
  font-family: "Inter 18pt";
}
.title-bar p {
  width: 435px;
  height: 87px;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0%;
  color: #ffffff;
  font-family: "Inter 18pt";
  margin-top: 25px;
  margin-bottom: 35px;
}
.title-bar h5 {
  width: 216px;
  height: 62px;
  background-color: #42b4ee;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 0%;
}
.title-bar a {
  font-family: "Inter 18pt";
  color: #ffffff;
}
